[core]
	quotepath = false
	longpaths = true
	autocrlf = false
	filemode = false
	pager = diff-so-fancy | less --tabs=4 -RFX
[user]
	email = khejing3@aliyun.com
	name = Will Lee
[interactive]
	diffFilter = diff-so-fancy --patch
