[core]
	quotepath = false
	longpaths = true
	autocrlf = false
	filemode = false
	pager = delta
[user]
	email = khejing3@aliyun.com
	name = Will Lee
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[http "https://github.com"]
	proxy = http://127.0.0.1:10809
