[user]
	email = khejing3@aliyun.com
	name = Will Lee
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	quotePath = false
	editor = vim
[color]
	ui = true
[color "diff-highlight"]
	newHighlight = green bold reverse
	oldHighlight = red bold reverse
[pull]
	ff = only
