[user]
	email = khejing3@aliyun.com
	name = Will Lee
[core]
	pager = delta
	quotePath = false
[interactive]
	diffFilter = delta --color-only
[include]
	path = storage/downloads/dotfiles/android/termux/themes.gitconfig
[delta]
	navigate = true
	max-line-length = 0
	features = villsau
[merge]
	conflictstyle = zdiff3
[safe]
	directory = *
