[user]
	email = khejing3@aliyun.com
	name = Will Lee
[core]
	pager = delta
	quotePath = false
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	max-line-length = 0
[merge]
	conflictstyle = zdiff3
[safe]
	directory = *
